<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./Report List.css">
</head>

<body>
    <div id="root">
        <header class="Header-module_container__da545 Header-module_sticky__28d6c">
            <div class="Header-module_content__31d4e">
                <div class="Header-module_left__45013"><button class="StyledComponent-module_container__2d5ce"
                        aria-label="뒤로 가기" type="button"><svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                            width="24" class="WithProps-module_icon__d564b" style="height: 24px; width: 24px;">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                d="M16.0757 2.57573L16.9243 3.42426L8.34851 12L16.9243 20.5757L16.0757 21.4243L6.65146 12L16.0757 2.57573Z"
                                fill="#495057"></path>
                        </svg></button></div>
                <div class="Header-module_center__3afb0" style="max-width: calc(-240px + 100vw);"></div>
            </div>
        </header>
        <main>
            <div class="content-width-560">
                <div class="MyFriends-module_container__a383d">
                    <div class="MyFriends-module_contents__8c95e">
                        <div class="MyFriends-module_tabsWrapper__5be11">
                            <nav class="Tabs-module_tabsWrapper__504f3">
                                <ul class="Tabs-module_tabs__32630 MyFriends-module_tabs__01082">
                                    <li data-index="0"><button type="button"
                                            class="Tab-module_tab__ca5b5 Tab-module_first__3e706 Tab-module_active__95f73 undefined Tab-module_md__01001"
                                            role="tab" data-value="0"><span>
                                                <p>팔로워 <sup
                                                        class="MyFriends-module_sup1__8dc1f MyFriends-module_supSelected__08c06"></sup>
                                                </p>
                                            </span></button></li>
                                    <li data-index="1"><button type="button"
                                            class="Tab-module_tab__ca5b5 undefined Tab-module_md__01001" role="tab"
                                            data-value="1"><span>
                                                <p>팔로잉 <sup class="MyFriends-module_sup1__8dc1f"></sup></p>
                                            </span></button></li>
                                    <li data-index="2"><button type="button"
                                            class="Tab-module_tab__ca5b5 undefined Tab-module_md__01001" role="tab"
                                            data-value="2"><span>
                                                <p>차단 목록 <sup class="MyFriends-module_sup1__8dc1f"></sup></p>
                                            </span></button></li>
                                    <li data-index="3"><button type="button"
                                            class="Tab-module_tab__ca5b5 undefined Tab-module_md__01001" role="tab"
                                            data-value="3"><span>
                                                <p>신고 목록 <sup class="MyFriends-module_sup1__8dc1f"></sup></p>
                                            </span></button></li>
                                </ul>
                            </nav>
                        </div>
                        <div>
                            <div class="TabPanels-module_tabPanels__87eb2">
                                <div class="FollowingMaker-module_emptyContainer__1d1f9">
                                    <div class="FollowingMaker-module_content__c06df">
                                        <div class="FollowingMaker-module_text__badba">
                                            <p class="FollowingMaker-module_empty__28b0d">팔로우한 메이커가 없어요</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <div class="FabContainer-module_container__8836e">
            <button aria-label="scroll to top" class="ScrollToTopButton-module_container__15c75" type="button">
                <svg viewBox="0 0 24 24" fill="#fff" xmlns="http://www.w3.org/2000/svg" width="24" class="WithProps-module_icon__d564b" style="color: rgb(255, 255, 255); height: 24px; width: 24px;">
                    <path d="M4 5.40002H20V6.60003L4 6.60002V5.40002Z" fill="#495057"></path>
                    <path
                        d="M5.42421 18.4243L4.57568 17.5758L11.9999 10.1515L19.4242 17.5758L18.5757 18.4243L11.9999 11.8485L5.42421 18.4243Z"
                        fill="#495057">
                    </path>
                </svg>
            </button>
        </div>
    </div>
</body>

</html>